@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin-bottom: 32px;
    padding-left: 8px;
    border-left: 4px solid #f13239;
}

a {
    transition: color 0.3s;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
}

.dark {
    background-color: #111111;
}

.darklink {
    color: #f13239;
    font-weight: bold;
    text-decoration: none;
}

.darklink:hover {
    color: #ebebeb;
}

header {
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

header img {
    width: 180px;
    padding: 20px 0px;
    
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    padding: 10px;
}

nav a {
    color: #ebebeb;
    text-decoration: none;
    font-weight: bold;    
}

nav a:hover {
    color: red;
}

.hero {
    background: url(../imagens/banner.jpg) no-repeat;
    background-size: cover;
    background-position: center 25%;
    height: 320px;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero h1 {
    color: #ebebeb;
    font-size: 36px;
}

.galeria {
    padding: 50px 0px 64px;
}

.galeria h2 {
    color: #111111;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

}

.gallery div {
    /*flex-grow flex-shrink flex-basis*/
    flex: 1 1 250px;
}

.gallery img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
}

.galeria p {
    font-weight: bold;
}

.historia {
    color: #ebebeb;
    padding: 64px 24px 0px;
    border-top: 4px solid #f13239;
}

.historia .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid #f13239;
    gap: 24px;
}

.historia .container .coluna {
    flex:  1 1 350px;
}

.historia .container .coluna img {
    width: 100%;
    display: block;
}

.historia h2 {
    color: #ebebeb;
}

.historia p {
    line-height: 1.5;
    text-align: justify;
}

.historia p + p {
    margin-top: 30px;
}

footer {
    padding: 50px;
    color: #ebebeb;
    text-align: center;
}

